.dashboard-container {
  padding: 20px;
  background: #0b1220;
  min-height: 100vh;
  color: white;
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  background: #1f2937;
  transform: translateY(-2px);
}