* {
  box-sizing: border-box;
}

.login-page {
  min-height: calc(100vh - 130px);
  display: flex;
  background: #f8fafc;
}

.login-left {
  flex: 1;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b
  );
  color: white;
  padding: 60px;
  position: relative;
  overflow: hidden;
}

.brand-name {
  font-size: 32px !important;
  font-weight: 700 !important;
}

.brand-tagline {
  margin-top: 10px !important;
  opacity: 0.8;
}

.circle-bg {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: rgba(
    37,
    99,
    235,
    0.15
  );
  left: 120px;
  top: 90px;
}

.hero-title {
  position: relative;
  z-index: 1;
  margin-top: 40 !important;
  font-size: 60px !important;
  font-weight: 800 !important;
  line-height: 1.1;
}

.hero-subtitle {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin-top: 20px !important;
  font-size: 18px !important;
  opacity: 0.85;
}

.feature-list {
  position: relative;
  z-index: 1;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 18px;
}

.login-right {
  width: 40%;
  min-width: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-card {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 24px !important;
  box-shadow:
    0 20px 40px
      rgba(15, 23, 42, 0.08) !important;
}

.login-title {
  font-weight: 700 !important;
}

.login-subtitle {
  margin-top: 8px !important;
  color: #64748b;
}

.login-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.forgot-password {
  text-align: right;
  color: #2563eb;
  cursor: pointer;
  font-size: 14px !important;
}

.login-btn {
  height: 50px;

  background: #2563eb !important;

  text-transform: none !important;

  font-size: 16px !important;
  font-weight: 600 !important;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
    min-width: auto;
    align-items: center;
    padding: 40px;
  }

  .login-card {
    max-width: 450px;
  }
}
.password-field .MuiInputAdornment-root {
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.password-field:hover .MuiInputAdornment-root {
  opacity: 1;
  pointer-events: auto;
}

.password-field .MuiOutlinedInput-root.Mui-focused .MuiInputAdornment-root {
  opacity: 1;
  pointer-events: auto;
}